* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.spacer {
    height: 100px;
}

.main-spacer {
    height: 100px;


}

/* STYLING THE HAMBURGER MENU */
header {
    background: orange;
    border-radius: 50px 0px;

}

li {
    list-style: none;
}

.feature-li {
    list-style-type: square;
}

a {
    color: black;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

.nav-link {
    transition: 0.7s ease;
    color: black;
    font-size: 1.5rem;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: black;
}


/* STYLING THE HERO SECTION  */
.hero {
    padding: 30px;
    font-size: 1.5rem;
    text-align: justify;
    word-spacing: -2px;
    display: flex;
    flex-direction: column-reverse;
}

h1 {
    font-size: 2.4rem;
}

.hero p {
    font-size: 1.2rem;
}

.hero-left, .hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-img {
    width: 250px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px black;
}

.call-to-action {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.call-to-action-btn {
    background: orange;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-weight: 800;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px 0px black;
}

.call-to-action-btn:hover {
    outline: 5px solid black;
}

.call-to-action-img {
    width: 20%;
    transform: rotate(290deg);
    
}

/* HOOK SECTION CSS */
.hook {
    text-align: center;
    padding: 15px;

}

h2 {
    padding: 30px 0px;
}

.hook-features {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: justify;
    
}

.feature img {
    max-width: 10%;
}

.feature-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.1rem;
    padding: 15px 15px;
    background: orange;
    box-shadow: 0px 0px 10px 0px black;
}

/* MAIN SECTION */
main {
    padding: 15px;
    
}

.main-li {
    list-style-type:square;
}

main img {
    width: 70%;
    box-shadow: 0px 0px 5px 0px black;
}

.right-side-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-first, .main-second  {
    font-size: 1.1rem;
    text-align: justify;
    word-break: break-all;
    display: flex;
    flex-direction: column-reverse;
}

.main-header {
    font-size: 1.5rem;
    text-align: center;
}

/* REVIEW SECTION */
.review {
    text-align: center;
    word-break: -2px;
}

.review-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    gap: 10px;
}

.review img {
    width: 20%;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
}

.card {
    border: none;
    text-align: justify;
    padding: 15px;
    background: orange;
}

.review-cards {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/* CALL TO ACTION SECTION */
.call-to-action-again {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
}

#call-to-action-btn-again:hover {
    outline: 5px solid black;
}

/* FAQ SECTION */
.accordion-body {
    background: orange;
}

.accordion-button, .accordion-button:not(.collapsed) {
    color: orange;
}

/* CONTACT FORM SECTION */

#contact {
    background: black;
}

.contactHeader {
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.formWrapper {
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    
    gap: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input:focus {
    border: 5px solid orange;
}

textarea:focus {
    border: 5px solid orange;
}

.nameField, .emailField {
    width: 250px;
    padding: 10px;
}

.messageBox {
    height: 200px;
    width: 250px;
    text-align: justify;
    padding: 10px;
}

.messageBox::placeholder {
    text-align: top;
}

.submitBtn {
    width: 100px;
    height: 50px;
    align-self: center;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 800;
}

.submitBtn:hover {
    background: orange;
    border: 5px solid black;
}



svg {
    font-size: 50px;
    color: white;
}

svg:hover {
    color: crimson;
}

.formWrapper {
    transform: translateY(20px);
    text-transform: uppercase;
}

.contactHeader {
    color: crimson;
    text-decoration: 5px solid white overline;
}




/* FOOTER SECTION */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 20px;
}

footer img {
    width: 15%;
}

.link-group {
    display: flex;
    flex-direction: column;
}

.link-group a:hover {
    color: orange;
    transition: 0.5s ease-in;
}


.link-section-header {
    font-size: 1.5rem;
    font-weight: 800;
    color: orange;
}

.social-media-links {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    padding: 20px;
}

#socials img:hover {
    cursor: pointer;
}


/*  MEDIA QUERIES */

/* MEDIA QUERY FOR PHONE SCREENS */
@media screen and (max-width: 768px){
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }


    .navbar {
        touch-action: none;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background: orange;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        border-radius: 0px 30px;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;

    }

    a {
        color: black;
    }

    #call-to-action-btn {
        display: none;
    }
    .hero-img {
        width: 300px;
    }
}


@media screen and (min-width:768px) {
   .hero {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    align-items: center;
   }
}

